/* tablet */
.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f0f0f0;
}

.app {
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  background-color: #f7f7f7;
  display: flex;
  overflow: hidden;
  position: relative;

  top: 0;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.left-panel {
  width: 30%;
  overflow: hidden;
  position: relative;
  border-right: 1px solid lightgray;
}

.right-panel {
  width: 70%;
  overflow: hidden;
  position: relative;
}




/* web */
@media screen and (min-width: 1441px) {
  .app {
    height: calc(100% - 38px);
    top: 19px;
    width: 1396px;
  }
}

/* tablet */
@media screen and (max-width: 1300px) and (min-width: 1025px) {
  .left-panel {
    width: 35%;
  }

  .right-panel {
    width: 65%;
  }
}

/* mobile */
@media screen and (max-width: 648px) {
  .app-wrapper {
    overflow-x: auto;
  }

  .app {
    min-width: 648px;
  }
}

@media screen and (max-width: 900px) {
  .left-panel {
    width: 40%;
  }

  .right-panel {
    width: 60%;
  }
}
